<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <clear/>
    <add name="TestDB" connectionString="Server=.\sqlexpress;Database=Conquest;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
